body {
  padding-top: 0;
  padding-bottom: 20px;
  background-color: #eee;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

.header,
.trip,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container {
  position: relative;
}

.panel {
  border-radius: 4px;
  margin: 1rem 0 2rem;
  padding: 1.9rem;
  box-shadow: none;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #1B93E9;
  color: #f1f1f1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.week__number {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  -webkit-font-smoothing: antialiased;
}
.week__number:after {
  content: '';
  position: relative;
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 4px solid #1B93E9;
}

.week {
  padding-top: 1rem;
}

.panel__date,
.panel__day {
  color: #5F5F5F;
}

.trip__title {
  font-size: 14px;
  font-weight: 400;
  color: #5F5F5F;
}
@media screen and (max-width: 768px) {
  .trip__title {
    font-size: 13px;
  }
}

.agenda__col {
  padding: 0 3px;
}

.col-lg-2.agenda__col--notes {
  font-size: 12px;
}

.panel__title--sub {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #795F5F;
}

.agenda {
  width: 100%;
  clear: both;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

i.glyphicon.glyphicon-plane {
  color: #e91b93;
}

i.glyphicon.glyphicon-home {
  color: #e9d81b;
}

.scrollspy {
  position: absolute;
  right: 0;
  z-index: 999;
}

.nav {
  background: none;
}

.nav > li > a {
  color: #fff;
  padding: 10px;
}

li.active > a {
  background: #4ab3ff;
  color: #fff;
}


.nav .active {
  font-weight: bold;
  /*background: #1B93E9;*/
}

#nav {
  background: #1B93E9;
  right: 10px;
  width: 69px;
  border-radius: 4px;
  overflow: hidden;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid #fff;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.application {
  border-top: 1px solid #c1e1ec;
}

.affix-top {
  position: absolute;
  right: 0;
  width: 80px;
}

.affix {
  top: 3px;
  right: 0;
}

.affix,
.affix-bottom {
  width: 80px;
}

.affix-bottom {
  position: absolute;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 930px;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.panel{margin-bottom:20px;
  background-color:#fff;
  border:1px solid transparent;
  border-radius:4px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
  box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.panel-body{padding:15px}

.panel-heading{padding:10px 15px;
  border-bottom:1px solid transparent;
  border-top-left-radius:3px;
  border-top-right-radius:3px
} 